<h2 class="text-center">Pieces List</h2>

<% piece.forEach(p => { %>
        <p><a href="/pieces/<%=p.id%>"><%=p.name%></a> (<%=p.museum.name%>)</p>
<% }) %>

<p>In parentheses, show the name of the museum it is located in</p>
<p>The name should be a link to the piece show page</p>

