<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<div class="container">
    <form method="POST" action="/museums">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="form-control">
            <label for="city">City</label>
            <input type="text" name="city">
        </div>
        <div class="form-control">
            <label for="country">Country</label>
            <input type="text" name="country">
        </div>
        <div class="form-control">
            <label for="image">Image</label>
            <input type="text" name="image">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>